@media (min-width: 800px) {
    .FooterContentContainer {
        justify-content: start !important;
        background-color: #0c2b30;
        border-radius: 25px;
        padding: 60px;
    }

    .FooterQuickLinks{
        margin-right: 100px;
    }

    .FooterCopyright{
        font-size: 20px !important;
    }

    .FooterBottomInfo{
        margin: 40px 0 !important;
    }

    .FooterQuickLinks a{
        font-size: 30px !important;
    }

    .FooterContactContainer h3{
        font-size: 30px !important;
    }

    .FooterContactContainer input{
        width: 300px !important;
    }

    .FooterH2{
        font-size: 40px;
    }

    .FooterLogo{
        width: 300px !important;
    }
}

footer{
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
}

.FooterLogoContainer{
    display: flex;
    justify-content: center;
}

.FooterLogo{
    width: 150px;
    margin-top: 20px;
    margin-bottom: 40px;
}


.FooterContentContainer{
    display: flex;
    justify-content: space-between;
}



.FooterQuickLinks{
    display: flex;
    flex-direction: column;
}

.FooterQuickLinks a{
    color: #F29F05;
    text-decoration: none;
    margin: 10px 0;
    font-size: 15px;
    font-weight: lighter;
}



.FooterQuickLinks a:hover{
    color: #b07300;
    transition: 0.3s;
}

.FooterContactContainer{
    display: flex;
    flex-direction: column;
}

.FooterContactContainer h3{
    color: #F29F05;
    font-size: 15px;
    font-weight: lighter;
    margin: 10px 0;
}

.FooterContactContainer input{
    border-radius: 50px;
    padding: 10px;
    border: none;
    margin: 10px 0;
    width: 120px;
}

.FooterH2{
    color: white;
}

.hyperlinksFooter.active{
    color: white;
}

.SubmitButton{
    border: solid 2px #F29F05;
    border-radius: 50px;
    background-color: transparent;
    color: #F29F05;
    width: 140px;
    padding: 5px;
    font-size: 15px;
    height: 35px;
    margin: 10px 0;
    cursor: pointer;
}

.SubmitButton:hover{
    transition: 0.3s;
    background-color: #F29F05;
    color: #0d3840;
}

.PhoneNumber{
    color: inherit;
}

.FooterBottomInfo{
    color: #F29F05;
    text-decoration: underline;
    margin-top: 75px;
}

.FooterCopyright{
    font-size: 10px;
    margin-bottom: 20px;
}

.FooterBottomLinks h2{
    font-size: 10px;
}